AutoFmt Bot <AutoFmtBot@fmtyacodeffs.com>
Chelsea Shoben <cshoben@users.noreply.github.com> <42417837+cshoben@users.noreply.github.com> 
Chelsea Shoben <cshoben@users.noreply.github.com> cshoben <cshoben@users.noreply.github.com>
Chelsea Shoben <cshoben@users.noreply.github.com> <cshoben@gmail.com>
Christi Fauci <christiana.fauci@duke.edu>
Craig Lowe <craiglowe@@users.noreply.github.com>
Craig Lowe <craiglowe@users.noreply.github.com>
Daniel <daniel.snellings@duke.edu>
Daniel Snellings <37418559+DanielSnellings@users.noreply.github.com>
Daniel Snellings <37418559+das106@users.noreply.github.com>
Daniel Snellings <37418559+dasnellings@users.noreply.github.com>
Daniel Snellings <37418559+ddsnellings@users.noreply.github.com>
Daniel Snellings <danielsnellings@Daniels-MacBook-Pro.local>
DanielSnellings <das106@duke.edu>
Eric Au <edotau@users.noreply.github.com>
Eric Au <ericdotau@gmail.com>
Juliana Carvalho <jc531@duke.edu>
Krista-Pipho <kpipho@LAPTOP-VAE9QENR.localdomain>
LCBartelt <34760940+LCBartelt@users.noreply.github.com>
LCBartelt <luke.bartelt@gmail.com>
LCBartelt <luke@Lukes-MacBook-Pro.local>
Mollie Sweeney <molliesweeney@system76-pc.localdomain>
Olivier Boivin <olivierboivin88@gmail.com>
Yanting Luo <75260661+RavenYL@users.noreply.github.com> RavenYL <75260661+RavenYL@users.noreply.github.com>
Yanting Luo <75260661+RavenYL@users.noreply.github.com> RavenYL <yanting.raven.luo@gmail.com>
Yanting Luo <75260661+RavenYL@users.noreply.github.com> <yl726@dcc-login-02.oit.duke.edu>
Riley Mangan <50707122+rimangan@users.noreply.github.com>
Riley Mangan <rileymangan@system76-pc.localdomain>
Shae Simpson <shaesimpson@Shaes-Air.fios-router.home>
Shae Simpson <shaesimpson@Shaes-MacBook-Air.local>
Shaun-Jiang <64869110+Shaun-Jiang@users.noreply.github.com>
Sophie Campione <sophia.campione@duke.edu>
cfauci <49315918+cfauci@users.noreply.github.com>
das106 <37418559+das106@users.noreply.github.com>
das106 <das106@duke.edu>
edotau <eric.au@duke.edu>
edotau <ericdotau@gmail.com>
ericdotau <edotau@users.noreply.github.com>
julianaccarvalho <76961978+julianaccarvalho@users.noreply.github.com>
rimangan <riley.mangan@duke.edu>
rpornmon <82060975+rpornmon@users.noreply.github.com>
sweavs111 <70345529+sweavs111@users.noreply.github.com>
